<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
    <meta charset="UTF-8">
    <title>Resale price estimator</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>

<body>
<div class="prediction">
    <h1>How much is my house worth?</h1>
    <form action="{{ url_for('predict')}}"method="post">
        <label for="Postal">Postal*</label>
        <input type="number" id="Postal" name="Postal" required="required" minlength="6">
        <br>
        <br>
        <label for="flat_cat">No of rooms*</label>
        <select id="flat_cat" name="flat_cat" required="required">
            <option value="1">1 Room</option>
            <option value="2">2 Room</option>
            <option value="3">3 Room</option>
            <option value="4">4 Room</option>
            <option value="5">5 Room</option>
            <option value="6">Executive</option>
            <option value="7">Multi-gen</option>
        </select>
        <br>
        <br>
        <label for="floor_area_sqm">Floor area (SQM) </label>
        <input type="number" id="floor_area_sqm" name="floor_area_sqm" min="0" max="500">
        <br>
        <br>
        <label for="Lease">Lease year</label>
        <input type="number" id="Lease" name="Lease" min="1950" max="2050">
        <br>
        <br>
        <label for="storey_range">Storey level*</label>
        <input type="number" id="storey_range" name="storey_range" required="required" min="1" max="100">
        <br>
        <h3>* Required fields. If lease is empty, the building completion year will be used.
            If area is empty, average of room sizes will be used.</h3>
        <br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

    <br>
    <b>{{ prediction_text }}</b>
</div>
</body>
</html>